<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Led - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">Led-dyd</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-folder"></i>
          <span>Wemos</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <h6 class="dropdown-header">Multicolor:</h6>
          <a class="dropdown-item" href="/plafond">Plafond</a>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">On / off:</h6>
          <a class="dropdown-item" href="/porte">Porte</a>
          <a class="dropdown-item" href="/radioactif">Radioactif</a>
          <a class="dropdown-item" href="/infrabel">Infrabel</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-primary o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-rocket"></i>
                </div>
                <div class="mr-5">Plafond</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/plafond">
                <span class="float-left">Controler les leds</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            {% if led_porte[:3] == "#00" %}
            <div class="card text-white bg-danger o-hidden h-100">
            {% else %}
            <div class="card text-white bg-success o-hidden h-100">
            {% endif %}
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-bolt"></i>
                </div>
                <div class="mr-5">Porte</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/porte">
                <span class="float-left">Controler les leds</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            {% if led_radio[:3] == "#00" %}
            <div class="card text-white bg-danger o-hidden h-100">
            {% else %}
            <div class="card text-white bg-success o-hidden h-100">
            {% endif %}
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-exclamation-triangle"></i>
                </div>
                <div class="mr-5">radioactif</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/radioactif">
                <span class="float-left">Controler les leds</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 mb-3">
            {% if led_infra[:3] == "#00" %}
            <div class="card text-white bg-danger o-hidden h-100">
            {% else %}
            <div class="card text-white bg-success o-hidden h-100">
            {% endif %}
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-bolt"></i>
                </div>
                <div class="mr-5">infrabel</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="/infrabel">
                <span class="float-left">Controler les leds</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
        </div>

        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Area Chart Example</div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

      <!-- Sticky Footer -->
      <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Made with love at
                <a href="http://urlab.be">
                    <img src="/static/img/small-urlab.png" style="height: 1em;">
                    UrLab</a> — Code on <a href="http://github.com/UrLab/incubator">GitHub</a>
                — <a href="http://cerkinfo.be">
                <img style="height: 1.0em;" src="/static/img/small-ci.png">
                Cerkinfo </a> —

                ULB — Scientia vincere tenebras
            </p>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="../static/vendor/chart.js/Chart.min.js"></script>
  <script src="../static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="../static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../static/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="../static/js/demo/datatables-demo.js"></script>
  <script src="../static/js/demo/chart-area-demo.js"></script>

</body>

</html>
